.list-cards-container {
  .filter {
    input {
      min-width: 270px;
      background-color: lightblue;
      margin-top: 5px;
      border: 1px solid black;
      padding: 10px;
      font-size: 18px;
    }
  }

  .cards {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-link {
      text-decoration: none;

      :hover {
        background-color: antiquewhite;
      }
    }
  }
}
