.list-cards-container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card-link {
    text-decoration: none;

    :hover {
      background-color: antiquewhite;
    }
  }
}
