.add-card-container {
  font-size: 16px;

  .card-form {
    width: 400px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    padding: 30px 30px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      border: 1px solid lightgrey;
      margin: 5px;
      padding: 2px;
      font-size: 18px;

      .button {
        width: 75px;
        margin: 10px auto;
        border-radius: 3px;
        font-size: 20px;
      }
    }

    .missing-values {
      border: 1px solid darkred;
      border-radius: 3px;
      padding: 5px;
      display: block;
      text-align: center;
      background-color: red;
      color: white;
    }
  }
}
